<div>
    <input type="text" name="title" id="name" placeholder="Nombre del producto" <%if(updatedProduct){%>
    value="<%= updatedProduct.title %>"
        <% } %>
            >
            <select name="brand" id="brand">
                <option value="" disabled>Marca</option>
                <option value="">Marca</option>
                <option value="apple" <%if(updatedProduct){%>
                    <%  if(updatedProduct.category === "apple"){%>
                        selected
                        <% }} %>>Apple</option>
                <option value="samsung" <%if(updatedProduct){%>
                    <%  if(updatedProduct.category === "samsung"){%>
                        selected
                        <% }} %>>Samsung</option>
            </select>
</div>
<div>
    <textarea name="description" id="description" cols="30" rows="10" placeholder="Descripción del producto"><%if(updatedProduct){%>
<%= updatedProduct.description %>
<% } %>
</textarea>
</div>
<div>
    <div class="form-grandson">
        <select name="currency" id="currency">
            <option value="ARS">ARS</option>
        </select>
        <input type="text" name="price" id="price" placeholder="Precio" <%if(updatedProduct){%>
        value="<%= updatedProduct.price %>"
            <% } %>
                >
    </div>
    <div class="form-grandson">
        <select name="category" id="category">
            <option value="" disabled>Categoría</option>
            <option value="">Categoría</option>
            <option value="smartphone" <%if(updatedProduct){%>
                <%  if(updatedProduct.category === "smartphone"){ %>
                    selected
                    <% }} %>>Smartphone</option>
            <option value="smartwatch" <%if(updatedProduct){%>
                <%  if(updatedProduct.category === "smartwatch"){%>
                    selected
                    <% }} %>>Smartwatch</option>
            <option value="tablet" <%if(updatedProduct){%>
                <%  if(updatedProduct.category === "tablet"){%>
                    selected
                    <% }} %>>Tablet</option>
        </select>
    </div>
</div>
<div>
    <h3>Agrega imágenes</h3>

    <label for="images">
        <div class="input-img-text">
            <p>Selecciona un archivo</p>
            <p>o</p>
            <p>Arrástralo hasta aquí</p>
        </div>
    </label>
    <input type="file" name="images" id="images" accept="image/*" multiple>
</div>
<div>
    <h3>Agrega colores</h3>
    <label for="images">¿En cuántos colores estará disponible el producto?</label>
    <input type="number" name="colors" id="colors" min="1" max="4">
    <div>
        <input type="color" name="color1" <%if(updatedProduct){%>
            value="<%= updatedProduct.color1 %>"
            <% } %>>
        <input type="color" name="color2" <%if(updatedProduct){%>
            value="<%= updatedProduct.color2 %>"
            <% } %>>
        <input type="color" name="color3" <%if(updatedProduct){%>
            value="<%= updatedProduct.color3 %>"
            <% } %>>
        <input type="color" name="color4" <%if(updatedProduct){%>
            value="<%= updatedProduct.color4 %>"
            <% } %>>
    </div>
</div>
