<div>
    <input type="text" class="<%= locals.errors && errors.title ? 'is-invalid' : null %>" name="title" id="name"
        placeholder="Nombre del producto" value="<%= product ? product.title : null %>">

    <select name="brand_id" id="brand" class="<%= locals.errors && errors.brand_id ? 'is-invalid' : null%>">
        <option value="" disabled>Marca</option>
        <option value="">Marca</option>
        <option value="apple" <% if (product && product.brand_id===1) { %> selected <% } %>>Apple</option>
        <option value="samsung" <% if (product && product.brand_id===2) { %> selected <% } %>>Samsung</option>
    </select>
</div>
<div class="text-danger-container">
    <% if (locals.errors && errors.title) { %>
        <div class="text-danger">
            <%= errors.title.msg %>
        </div>
        <% } %>

            <% if (locals.errors && errors.brand_id) { %>
                <div class="text-danger">
                    <%= errors.brand_id.msg %>
                </div>
                <% } %>
</div>
<div>
    <textarea name="description" class="<%= locals.errors && errors.description ? 'is-invalid' : null%>"
        id="description" cols="30" rows="10" placeholder="Descripción del producto"><%if(product){%>
<%= product.description %>
<% } %>
</textarea>
    <% if (locals.errors && errors.description) { %>
        <div class="text-danger">
            <%= errors.description.msg %>
        </div>
        <% } %>
</div>
<div>
    <div class="form-grandson">
        <select name="currency" id="currency" class="<%= locals.errors && errors.currency ? 'is-invalid' : null%>">
            <option value="ARS">ARS</option>
        </select>
        <% if (locals.errors && errors.currency) { %>
            <div class="text-danger">
                <%= errors.currency.msg %>
            </div>
            <% } %>
                <input type="text" name="price" class="<%= locals.errors && errors.price ? 'is-invalid' : null%>"
                    id="price" placeholder="Precio" <%if(product){%>
                value="<%= product.price %>"
                    <% } %>
                        >
    </div>

    <div class="form-grandson">
        <select name="category_id" id="category"
            class="<%= locals.errors && errors.category_id ? 'is-invalid' : null%>">
            <option value="" disabled>Categoría</option>
            <option value="">Categoría</option>
            <option value="smartphone" <%if(product){%>
                <% if(product.category_id==="Smartphone" ){ %>
                    selected
                    <% }} %>>Smartphone
            </option>
            <option value="smartwatch" <%if(product){%>
                <% if(product.category_id==="Smartwatch" ){%>
                    selected
                    <% }} %>>Smartwatch
            </option>
            <option value="tablet" <%if(product){%>
                <% if(product.category_id==="Tablet" ){%>
                    selected
                    <% }} %>>Tablet
            </option>
        </select>
    </div>
</div>
<div class="text-danger-container">
    <% if (locals.errors && errors.price) { %>
        <div class="text-danger">
            <%= errors.price.msg %>
        </div>
        <% } %>

            <% if (locals.errors && errors.category_id) { %>
                <div class="text-danger">
                    <%= errors.category_id.msg %>
                </div>
                <% } %>
</div>
<div>
    <h3>Agrega imágenes</h3>

    <label for="images">
        <div class="input-img-text">
            <p>Selecciona un archivo</p>
            <p>o</p>
            <p>Arrástralo hasta aquí</p>
        </div>
    </label>
    <input type="file" name="images" id="images" accept="image/*" multiple>
    <% if (locals.errors && errors.images) { %>
        <div class="text-danger">
            <%= errors.images.msg %>
        </div>
        <% } %>
</div>

<!-- <div>
    <h3>Agrega colores</h3>
    <label for="">¿En cuántos colores estará disponible el producto?</label>
    <input type="number" name="color_quantity" class="<#%= locals.errors && errors.number ? 'is-invalid' : null%>" id="colors"
        min="1" max="4" value="<#%= product ? product.colors : null %>">
    <#% if (locals.errors && errors.number) { %>
        <div class="text-danger">
            <#%= errors.number.msg %>
        </div>
        <#% } %>
            <div class="colorContainer" id="colorInputsContainer" style="display: none;">
                <#% for (let i=1; i <=4; i++) { %>
                    <input id='input-color' type="color" name="color<#%= i %>" value="<#%= product['color' + i] %>">
                    <#% } %>
            </div>
</div> -->


<div class="pick-colors <%= locals.errors && errors.colors ? 'is-invalid' : null%>">
    <h3>Agrega colores</h3>
    <input type="checkbox" name="colors[]" value="black" <% if (product && product.colors &&
        product.colors.includes("black")) { %> checked <% } %>>
        <label for="colors">Black</label>
        <input type="checkbox" name="colors[]" value="white" <% if (product && product.colors &&
            product.colors.includes("white")) { %> checked <% } %>>
            <label for="colors">White</label>
            <input type="checkbox" name="colors[]" value="red" <% if (product && product.colors &&
                product.colors.includes("red")) { %> checked <% } %>>
                <label for="colors">Red</label>
                <input type="checkbox" name="colors[]" value="gold" <% if (product && product.colors &&
                    product.colors.includes("gold")) { %> checked <% } %>>
                    <label for="colors">Gold</label>
                    <input type="checkbox" name="colors[]" value="silver" <% if (product && product.colors &&
                        product.colors.includes("silver")) { %> checked <% } %>>
                        <label for="colors">Silver</label>
                        <input type="checkbox" name="colors[]" value="purple" <% if (product && product.colors &&
                            product.colors.includes("purple")) { %> checked <% } %>>
                            <label for="colors">Purple</label>
                            <input type="checkbox" name="colors[]" value="cream" <% if (product && product.colors &&
                                product.colors.includes("cream")) { %> checked <% } %>>
                                <label for="colors">Cream</label>
                                <input type="checkbox" name="colors[]" value="green" <% if (product && product.colors &&
                                    product.colors.includes("green")) { %> checked <% } %>>
                                    <label for="colors">Green</label>

                                    <input type="number" name="color_quantity" id="color_quantity" readonly>
</div>

<div class="pick-colors <%= locals.errors && errors.colors ? 'is-invalid' : null%>">
    <h3>Agrega colores</h3>
    <div class="color-checkboxes">
        <div class="color-label">
            <input type="checkbox" name="colors[]" value="black" <% if (product && product.colors &&
                product.colors.includes("black")) { %> checked <% } %>>
                <label for="colors" class="color-circle black"></label>
                <span class="color-name">Black</span>
        </div>
        <div>
            <input type="checkbox" name="colors[]" value="white" <% if (product && product.colors &&
                product.colors.includes("white")) { %> checked <% } %>>
                <label for="colors" class="color-circle white"></label>
                <span class="color-name">White</span>
        </div>
        <div>
            <input type="checkbox" name="colors[]" value="red" <% if (product && product.colors &&
                product.colors.includes("red")) { %> checked <% } %>>
                <label for="colors" class="color-circle red"></label>
                <span class="color-name">Red</span>
        </div>
        <div>
            <input type="checkbox" name="colors[]" value="gold" <% if (product && product.colors &&
                product.colors.includes("gold")) { %> checked <% } %>>
                <label for="colors" class="color-circle gold"></label>
                <span class="color-name">Gold</span>
        </div>
        <div>
            <input type="checkbox" name="colors[]" value="silver" <% if (product && product.colors &&
                product.colors.includes("silver")) { %> checked <% } %>>
                <label for="colors" class="color-circle silver"></label>
                <span class="color-name">Silver</span>
        </div>
        <div>
            <input type="checkbox" name="colors[]" value="purple" <% if (product && product.colors &&
                product.colors.includes("purple")) { %> checked <% } %>>
                <label for="colors" class="color-circle purple"></label>
                <span class="color-name">Purple</span>
        </div>
        <div>
            <input type="checkbox" name="colors[]" value="cream" <% if (product && product.colors &&
                product.colors.includes("cream")) { %> checked <% } %>>
                <label for="colors" class="color-circle cream"></label>
                <span class="color-name">Cream</span>
        </div>
        <div>
            <input type="checkbox" name="colors[]" value="green" <% if (product && product.colors &&
                product.colors.includes("green")) { %> checked <% } %>>
                <label for="colors" class="color-circle green"></label>
                <span class="color-name">Green</span>
        </div>
        <input type="number" name="color_quantity" id="color_quantity" readonly>
    </div>


    <script src="./js/main.js"></script>