<div>
    <input id="title" type="text" class="<%= locals.errors && errors.title ? 'is-invalid' : null %>" name="title"
        id="name" placeholder="Nombre del producto" value="<%= product ? product.title : null %>">
    <p id="error"></p>

    <select id="brand" name="brand_id" id="brand" class="<%= locals.errors && errors.brand_id ? 'is-invalid' : null%>">
        <option value="" disabled>Marca</option>
        <option value="">Marca</option>
        <option value="apple" <% if (product && product.brand_id===1) { %> selected <% } %>>Apple</option>
        <option value="samsung" <% if (product && product.brand_id===2) { %> selected <% } %>>Samsung</option>
    </select>
    <p id="error"></p>
</div>
<div class="text-danger-container">
    <% if (locals.errors && errors.title) { %>
        <div class="text-danger">
            <%= errors.title.msg %>
        </div>
        <% } %>

            <% if (locals.errors && errors.brand_id) { %>
                <div class="text-danger">
                    <%= errors.brand_id.msg %>
                </div>
                <% } %>
</div>
<div>
    <textarea name="description" class="<%= locals.errors && errors.description ? 'is-invalid' : null%>"
        id="description" cols="30" rows="10"
        placeholder="Descripción del producto"><%= product ? product.description : '' %></textarea>


    <p id="error"></p>
    <% if (locals.errors && errors.description) { %>
        <div class="text-danger">
            <%= errors.description.msg %>
        </div>
        <% } %>
</div>
<div>
    <div class="form-grandson">
        <select id="currency" name="currency" id="currency"
            class="<%= locals.errors && errors.currency ? 'is-invalid' : null%>">
            <option value="ARS">ARS</option>
        </select>
        <p id="error"></p>
        <% if (locals.errors && errors.currency) { %>
            <div class="text-danger">
                <%= errors.currency.msg %>
            </div>
            <% } %>
                <input type="number" name="price" class="<%= locals.errors && errors.price ? 'is-invalid' : null%>"
                    id="price" placeholder="Precio" <%if(product){%>
                value="<%= product.price %>"
                    <% } %>
                        >
                        <p id="error"></p>
    </div>

    <div class="form-grandson">
        <select id="category" name="category_id" id="category"
            class="<%= locals.errors && errors.category_id ? 'is-invalid' : null%>">
            <option value="" disabled>Categoría</option>
            <option value="">Categoría</option>
            <option value="smartphone" <%if(product){%>
                <% if(product.category_id==="Smartphone" ){ %>
                    selected
                    <% }} %>>Smartphone
            </option>
            <option value="smartwatch" <%if(product){%>
                <% if(product.category_id==="Smartwatch" ){%>
                    selected
                    <% }} %>>Smartwatch
            </option>
            <option value="tablet" <%if(product){%>
                <% if(product.category_id==="Tablet" ){%>
                    selected
                    <% }} %>>Tablet
            </option>
        </select>
        <p id="error"></p>
    </div>
</div>
<div class="text-danger-container">
    <% if (locals.errors && errors.price) { %>
        <div class="text-danger">
            <%= errors.price.msg %>
        </div>
        <% } %>

            <% if (locals.errors && errors.category_id) { %>
                <div class="text-danger">
                    <%= errors.category_id.msg %>
                </div>
                <% } %>
</div>
<div>
    <h3>Agrega imágenes</h3>

    <label for="images">
        <div class="input-img-text">
            <p>Selecciona un archivo</p>
            <p>o</p>
            <p>Arrástralo hasta aquí</p>
        </div>
    </label>
    <input id="images" type="file" name="images" id="images" accept="image/*" multiple>
    <p id="error"></p>
    <% if (locals.errors && errors.images) { %>
        <div class="text-danger">
            <%= errors.images.msg %>
        </div>
        <% } %>

</div>
<p id="image-format-info" class="text-muted">Formatos de imagen permitidos: JPG, JPEG, PNG</p>

<div class="pick-colors <%= locals.errors && errors.colors ? 'is-invalid' : null %>">
    <div class="colors-box">
        <% const productColors=(product && product.colors) ? product.colors.map(colorObj=> colorObj.color.toLowerCase())
            : []; %>
            <% const colorOptions=["black", "white" , "red" , "gold" , "silver" , "purple" , "cream" , "green" ]; %>
                <% for (const color of colorOptions) { %>
                    <div class="color-label">
                        <input type="checkbox" name="colors[]" value="<%= color %>" <% if
                            (productColors.includes(color.toLowerCase())) { %>checked<% } %>>
                            <label for="colors" class="color-circle <%= color %>"></label>
                            <span class="color-name">
                                <%= color.charAt(0).toUpperCase() + color.slice(1) %>
                            </span>
                    </div>
                    <% } %>
    </div>
    <input type="number" name="color_quantity" id="color_quantity" readonly hidden>
    <p id="error"></p>
</div>




<script src="./js/product.js"></script>
<script src="./js/main.js"></script>