<header id="header">
    <section id="main-header">
        <section class="main-header-left">
            <a href="/"><img id="logo" src="/imgs/logo-iso/LogoTechHub_Principal.png" alt="logo"></a>
            <section class="left-list left-nav" id="left-nav">
                <div class="tienda-nav nav-button"><button><a href="
                    <% if (home === 'apple' || brand === 'Apple') { %>
                     /products/catalog/apple
                    <% }else if( home === 'samsung' || brand === 'Samsung'){ %>
                     /products/catalog/samsung
                    <% } %>
                    ">Tienda</a></button></div>
                <div class="smartphone-nav nav-button">
                    <button><a href="
                        <% if (home === 'apple' || brand === 'Apple') { %>
                         /products/catalog/apple/smartphone
                        <% }else if(home === 'samsung' || brand === 'Samsung'){ %>
                         /products/catalog/samsung/smartphone
                        <% } %>
                        ">Smartphones</a></button>
                </div>
                <div class="smartwatch-nav nav-button"><button><a href="
                    <% if (home === 'apple' || brand === 'Apple') { %>
                     /products/catalog/apple/smartwatch
                    <% }else if(home === 'samsung' || brand === 'Samsung'){ %>
                     /products/catalog/samsung/smartwatch
                    <% } %>
                    ">Smartwatch</a></button></div>
                <div class="tablet-nav nav-button"><button><a href="
                    <% if (home === 'apple' || brand === 'Apple') { %>
                     /products/catalog/apple/tablet
                    <% }else if(home === 'samsung' || brand === 'Samsung'){ %>
                     /products/catalog/samsung/tablet
                    <% } %>
                    ">Tablets</a></button></div>
                <section class="main-drop-container">
                </section>
                <section class="drop-container drop-cont-smartphone">
                </section>
                <section class="drop-container drop-cont-smartwatch">
                </section>
                <section class="drop-container drop-cont-tablet">
                </section>
                <article class="dropdown dropdown-smartphone">
                    <% const displayedProductIdsSmartphone=[]; %>
                        <% products.forEach(el=> { %>
                            <% if (el.category.name==="Smartphone" && el.brand.name===selectedBrand &&
                                el.deletedAt===null) { %>
                                <% if (!displayedProductIdsSmartphone.includes(el.id)) { %>
                                    <% displayedProductIdsSmartphone.push(el.id); %>
                                        <a href="/products/<%= el.id %>/detail">
                                            <%= el.title %>
                                        </a>
                                        <% } %>
                                            <% } %>
                                                <% }) %>
                </article>
                <article class="dropdown dropdown-smartwatch">
                    <% const displayedProductIdsSmartwatch=[]; %>
                        <% products.forEach(el=> { %>
                            <% if (el.category.name==="Smartwatch" && el.brand.name===selectedBrand) { %>
                                <% if (!displayedProductIdsSmartwatch.includes(el.id)) { %>
                                    <% displayedProductIdsSmartwatch.push(el.id); %>
                                        <a href="/products/<%= el.id %>/detail">
                                            <%= el.title %>
                                        </a>
                                        <% } %>
                                            <% } %>
                                                <% }) %>
                </article>
                <article class="dropdown dropdown-tablet">
                    <% const displayedProductIdsTablet=[]; %>
                        <% products.forEach(el=> { %>
                            <% if (el.category.name==="Tablet" && el.brand.name===selectedBrand) { %>
                                <% if (!displayedProductIdsTablet.includes(el.id)) { %>
                                    <% displayedProductIdsTablet.push(el.id); %>
                                        <a href="/products/<%= el.id %>/detail">
                                            <%= el.title %>
                                        </a>
                                        <% } %>
                                            <% } %>
                                                <% }) %>
                </article>
            </section>
        </section>
        <%- include('./cart.ejs') %>
            <section class="main-header-right">
                <ul class="right-list">

                    <li id="ma-glass"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                    <li id="cart"><button class="btn-cart"><i class="fa-solid fa-cart-shopping"></i></button></li>
                    <li id="user"><button><i class="fa-solid fa-user"></i></button></li>
                    <li id="bars" onclick="openNav()"><button><i class="fa-solid fa-bars"></i></button></li>

                </ul>
            </section>
            <%- include('./navbar.ejs') %>
    </section>
    <%- include('./searchbar.ejs') %>
        <nav class="brands">
            <a class="apple" href="/apple" onclick="handleClick('apple')">
                <img id="apple" src="/imgs/marcas-logos/Apple-logo-blanco.png" alt="">
            </a>
            <a class="samsung" href="/samsung" onclick="handleClick('samsung')">
                <img id="samsung" src="/imgs/marcas-logos/logo-samsung-nav-s-blanca.png" alt="">
            </a>
        </nav>


        <script src="/js/main.js"></script>
        <script src="/js/header.js"></script>
        <script src="/js/searchbar.js"></script>

</header>