<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-products.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>

        <main class="modal">
            <section class="update-container">
                <% if(typeof user != 'undefined' && user != null && user.email.endsWith('@techhub.com')){ %>
                <div class="update-button">
                    <button><a href="/products/<%= product.id %>/update">Editar producto</a></button>
                </div>
                <% } %>
            </section>

            <section class="product-detail-container">
                <article class="img-container">
                    <img class="main-img" src="<%= product.images[0].path %>" alt="producto">
                    <article class="small-imgs-slider">
                        <% product.images.forEach((el, index) => { %>
                            <img src="<%= el.path %>" alt="" onclick="changeImage('<%= el.path %>')">
                        <% }) %>
                    </article>
                </article>

                <section class="detail-container">
                    <h1 class="title-selected-product">
                        <%= product.title %>
                    </h1>
                    <p class="selected-product-price">$<%= product.price %>
                    </p>
                    <h6 class="shipping-text">Envío gratis<i class="fa-solid fa-truck"></i></h6>
                    <!-- <section class="pick-color-smartphone pick-color-s23">
                        <span class="option-color-smartphone option-color-s23 color-s23-green"></span>
                        <span class="option-color-smartphone option-color-s23 color-s23-phantom-black"></span>
                        <span class="option-color-smartphone option-color-s23 color-s23-lavender"></span>
                        <span class="option-color-smartphone option-color-s23 color-s23-cream"></span>
                        <h1>Color</h1>
                    </section>
 -->

                    <section class="pick-color-smartphone pick-color-s23">
                        <% product.colors.forEach(color=> { %>
                            <span
                                class="option-color-smartphone option-color-s23 <%= 'color-circle-' + color.color %>">
                            </span>
                            <% }); %>
                    </section>

                    <p class="product-info">
                        <%= product.description %>
                    </p>
                </section>
            </section>
            <section class="floating-buttons">
                <a href="/user/complete-purchase" class="button-link">
                    <button class="buy-button">Comprar ahora</button>
                </a>
                <a class="button-link">
                    <button type="submit" class="addToCart-button" data-product-id="<%= product.id %>">Agregar al
                        carrito</button>
                </a>

                <!-- <form id="addToCartForm" action="/user/add-to-cart/<%= product.id %>" method="POST">
<button type="submit" class="addToCart-button" data-product-id="<%= product.id %>">Agregar al carrito</button>
</form> -->
            </section>

        </main>
        <%- include('../partials/footer') %>
</body>
<script src="/js/main.js"></script>

</html>