<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-profile.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-register.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="cover">
            <img src="/imgs/profile-images/fondo-perfil.jpg" alt="">
            <section class="profile-picture-container">
                <img src=" <%= user.profile? user.profile : '/imgs/profile-images/no-image-profile.jpg' %>" alt="profile-pic">
            </section>
        </section>
        <section class="user-info">
            <%- include('../partials/formRegister')  %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>