<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles-profile.css">
    <link rel="stylesheet" href="/css/styles-header.css">
    <link rel="stylesheet" href="/css/styles-register.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="cover">
            <img src="/imgs/profile-images/fondo-perfil.jpg" alt="">
            <section class="profile-picture-container">
                <button onclick="openForm()"><i class="fa-solid fa-pen-to-square"></i></button>
                <img src=" <%= user.profile? user.profile : '/imgs/profile-images/no-image-profile.jpg' %>" alt="profile-pic">
            </section>
        </section>

<section class="form-popup" id="myForm">
  <form action="/user/profile" class="form-container" method="post">
    <h1>Login</h1>
    <i class="fa-solid fa-xmark" onclick="closeForm()"></i>
    <img class="editing-picture" src="<%= user.profile %>" alt="">

    <label for="profilePic">Editar</label>
    <input type="file" placeholder="Enter Email" name="profilePic">

    <button type="submit" class="btn">Actualizar</button>
    <button type="button" class="btn cancel">Eliminar</button>
  </form>
</section>
        <section class="user-info">
            <%- include('../partials/formRegister')  %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>