<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-products.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main class="modal">
            <section class="banner-list">
                <img src="/imgs/samsung/banner-samsung/galaxy-s23-accessories-chargers-kv.avif" alt="">
            </section>
            <section class="update-container">
                <div class="update-button">
                    <button><a href="/products/create">Crear producto +</a></button>
                </div>
            </section>

            <section class="products-container">
                <% if (category) { %>
                    <%products.forEach(el=> {%>
                        <%if(el.deletedAt === null && el.brand.name === brand && el.category.name === category){%>
                            <a class="selected-products" href="/products/<%= el.id %>/detail">
                                <article>
                                    <div class="box-img-product">
                                        <img class="imagen-producto" src="<%= el.images[2] %>" alt="product">
                                    </div>

                                    <div>
                                        <h2 class="product-title">
                                            <%= el.title %>
                                        </h2>
                                        <p class="product-price">$<%= el.price %>
                                        </p>
                                    </div>
                                </article>
                            </a>
                            <% } } ) %>
                <% }else{%>
                    <%products.forEach(el=> {%>
                        <% if(el.deletedAt === null && el.brand.name === brand){%>
                            <a class="selected-products" href="/products/<%= el.id %>/detail">
                                <article>
                                    <div class="box-img-product">
                                        <img class="imagen-producto" src="<%= el.images[2] %>" alt="product">
                                    </div>

                                    <div>
                                        <h2 class="product-title">
                                            <%= el.title %>
                                        </h2>
                                        <p class="product-price">$<%= el.price %>
                                        </p>
                                    </div>
                                </article>
                            </a>
                            <% } } ) }%>
            </section>

            <section class="presentation-product-container">
                <section class="presentation-product">
                    <h1 class="smartphone-title-list">Galaxy Z</h1>
                    <video autoplay loop muted plays-inline="">
                        <source src="/videos/galaxy-z4-fold-and-flip.mp4" type="video/mp4">
                    </video>
                </section>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>