<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>

        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-products-list.css">
</head>

<body>
    <%- include('../partials/header') %>

        <main>
            <section class="banner-list">
                <img src="imgs/samsung/banner-samsung/galaxy-s23-accessories-chargers-kv.avif" alt="">
            </section>

            <section class="products-container">

                <%products.forEach(el=> { 
                    if(el.deleted === false){%>
                    <a href="/products/<%= el.id %>/detail">
                    <article class="selected-products">
                        <div class="box-img-product">
                            <img class="imagen-producto" src="/imgs/samsung/products/galaxy-s/s23 Ultra/galaxy-s23-ultra-diagonal.avif"
                                alt="z-fold-4">
                        </div>
                    
                        <div>
                            <h2 class="product-title"><%= el.title %></h2>
                            <p class="product-price">$<%= el.price %></p>
                        </div>
                    </article>
                    </a>
                    <% }}) %>
            </section>

            <section class="presentation-z-list">
                    <h1 class="smartphone-title-list">Galaxy Z</h1>
                    <video autoplay loop muted plays-inline="">
                        <source src="/videos/galaxy-z4-fold-and-flip.mp4" type="video/mp4">
                    </video>
            </section>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>