<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles-header.css">
        <link rel="stylesheet" href="/css/styles-createProduct.css">
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>
            <section class="form-container-create">

                <h1>Editá el producto</h1>
                
                <form action="/products/<%= updatedProduct.id %>/update?_method=put" method="post">
                    <%- include('../partials/formProduct') %>
                    <section class="buttons">
                        <input type="submit" value="Editar producto">
                    </section>
                </form>

                <form class="form-delete" action="/products/<%= updatedProduct.id %>/delete?_method=delete" method="post">
                    <input type="submit" value="Eliminar producto">
                </form>
                
            </section>
        </main>
</body>

<%- include('../partials/footer') %>

</html>